
h1 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:grey;
    }
.kockica {
    width: 100px;
    height: 100px;
    background-color: blue;

}

.veca_kockica {
    width: 200px;
    height: 200px;
  
    }