# uključiti URL rewrite
RewriteEngine On

# za produkciju - ne radi, popraviti
# RewriteBase /mojaaplikacija/


# preskoči ako postoji datoteka
RewriteCond %{REQUEST_FILENAME} !-f

# preskoči ako postoji direktorij
RewriteCond %{REQUEST_FILENAME} !-d

# Svi zahtjevi idu na index.php
RewriteRule (.*) index.php [L,E=PATH_INFO:/$1]

